body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    text-align: center;
}

header {
    padding: 40px;
    background: #4CAF50;
    color: white;
}

button {
    margin-top: 30px;
    padding: 12px 25px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: black;
}
